<!DOCTYPE html>
{% load static %}
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Petrus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Restaurant reservation site" />
    <meta name="keywords" content="restaurant, reservation, food" />
    <meta name="author" content="petrus" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Animate.css -->
    <link rel="stylesheet" href="/static/css/animate.css" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/static/css/icomoon.css" />

    <!-- Datetimepicker -->
    <link
      rel="stylesheet"
      href="/static/css/bootstrap-datetimepicker.min.css"
    />
    <!-- Flexslider -->
    <link rel="stylesheet" href="/static/css/flexslider.css" />
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <!--CSS  -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <!-- Modernizr JS -->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif] -->
  </head>
  <body>
    <div id="fh5co-container">
      <div id="fh5co-home" class="js-fullheight" data-section="home">
        <div class="flexslider">
          <div class="fh5co-text">
            <div class="container">
              <div class="row">
                <h1 class="to-animate">petrus</h1>
                <h2 class="to-animate">
                  Project <span>by</span>
                  <a href="https://www.instagram.com/hoaxn_/" target="_blank"
                    >Hoaxn</a
                  >
                </h2>
              </div>
            </div>
          </div>
          <ul class="slides">
            <li
              style="background-image: url(/static/images/slide_1.jpg)"
              data-stellar-background-ratio="0.5"
            ></li>
            <li
              style="background-image: url(/static/images/slide_2.jpg)"
              data-stellar-background-ratio="0.5"
            ></li>
            <li
              style="background-image: url(/static/images/slide_3.jpg)"
              data-stellar-background-ratio="0.5"
            ></li>
          </ul>
        </div>
      </div>

      <div class="js-sticky">
        <div class="fh5co-main-nav">
          <div class="container-fluid">
            <div class="fh5co-menu-1">
              <a href="#" data-nav-section="home">Home</a>
              <a href="#" data-nav-section="about">About</a>
              <a href="#" data-nav-section="features">Features</a>
            </div>
            <div class="fh5co-logo">
              <a href="index.html">petrus</a>
            </div>
            <div class="fh5co-menu-2">
              <a href="#" data-nav-section="menu">Menu</a>
              <a href="#" data-nav-section="events">Events</a>
              <a href="#" data-nav-section="reservation">Reservation</a>
            </div>
          </div>
        </div>
      </div>

      <div id="fh5co-about" data-section="about">
        <div
          class="fh5co-2col fh5co-bg to-animate-2"
          style="background-image: url(/static/images/res_img_1.jpg)"
        ></div>
        <div class="fh5co-2col fh5co-text">
          <h2 class="heading to-animate">About Us</h2>
          <p class="to-animate">
            <span class="firstcharacter">T</span>he down-to-earth food and
            contemporary country feel makes Petrus a convivial, family friendly
            restaurant frequented by neighbors and tourists alike. Stop in for a
            glass of wine and a pizza, or come out for a special occasion
            dinner. With two dining rooms, two full bars, and a candle only
            illuminated wine cellar for private dining, we are equipped to
            accommodate events of all sizes, from intimate dinner parties to
            full-scale weddings. The chefs welcome you, to Petrus and looks
            forward to providing you with a thoroughly enjoyable culinary
            experience. Just fill in the form below and we will contact you
            asap.
          </p>
        </div>
      </div>

      <div id="fh5co-sayings">
        <div class="container">
          <div class="row to-animate">
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <blockquote>
                    <p>
                      &ldquo;Cooking is an art, but all art requires knowing
                      something about the techniques and materials&rdquo;
                    </p>
                    <p class="quote-author">&mdash; Nathan Myhrvold</p>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <p>
                      &ldquo;Give a man food, and he can eat for a day. Give a
                      man a job, and he can only eat for 30 minutes on
                      break.&rdquo;
                    </p>
                    <p class="quote-author">&mdash; Lev L. Spiro</p>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <p>
                      &ldquo;Find something you&rsquo;re passionate about and
                      keep tremendously interested in it.&rdquo;
                    </p>
                    <p class="quote-author">&mdash; Julia Child</p>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <p>
                      &ldquo;Never work before breakfast; if you have to work
                      before breakfast, eat your breakfast first.&rdquo;
                    </p>
                    <p class="quote-author">&mdash; Josh Billings</p>
                  </blockquote>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="fh5co-featured" data-section="features">
        <div class="container">
          <div class="row text-center fh5co-heading row-padded">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="heading to-animate">Featured Dishes</h2>
              <p class="sub-heading to-animate">
                These are our most well-known dishes. Please do try some :)
              </p>
            </div>
          </div>
          <div class="row">
            <div class="fh5co-grid">
              <div class="fh5co-v-half to-animate-2">
                <div
                  class="fh5co-v-col-2 fh5co-bg-img"
                  style="
                    background-image: url(/static/images/beef-wellington.jpg);
                  "
                ></div>
                <div
                  class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left"
                >
                  <h2>Beef Wellington</h2>
                  <span class="pricing">$59.95</span>
                  <p>
                    Served medium rare & garnished with glazed root vegetables,
                    potato purée, red wine demi-glace.
                  </p>
                </div>
              </div>
              <div class="fh5co-v-half">
                <div class="fh5co-h-row-2 to-animate-2">
                  <div
                    class="fh5co-v-col-2 fh5co-bg-img"
                    style="
                      background-image: url(/static/images/caesar-salad.jpg);
                    "
                  ></div>
                  <div class="fh5co-v-col-2 fh5co-text arrow-left">
                    <h2>Caesar Salad</h2>
                    <span class="pricing">$18.95</span>
                    <p>Parmesan cheese, garlic croutons, scotch egg.</p>
                  </div>
                </div>
                <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                  <div
                    class="fh5co-v-col-2 fh5co-bg-img"
                    style="
                      background-image: url(/static/images/japanese-wagyu.jpg);
                    "
                  ></div>
                  <div class="fh5co-v-col-2 fh5co-text arrow-right">
                    <h2>Triple Seared Japanese A5</h2>
                    <span class="pricing">$40.95</span>
                    <br />
                    <br />
                  </div>
                </div>
              </div>
              <div class="fh5co-v-half">
                <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                  <div
                    class="fh5co-v-col-2 fh5co-bg-img"
                    style="background-image: url(/static/images/shortbread.jpg)"
                  ></div>
                  <div class="fh5co-v-col-2 fh5co-text arrow-right">
                    <h2>Strawberry Scottish Shortbread</h2>
                    <span class="pricing">$14.95</span>
                    <p>
                      Vanilla cream, Harry&rsquo;s berries, strawberry sorbet.
                    </p>
                  </div>
                </div>
                <div class="fh5co-h-row-2 to-animate-2">
                  <div
                    class="fh5co-v-col-2 fh5co-bg-img"
                    style="
                      background-image: url(/static/images/strawberry-martini.jpg);
                    "
                  ></div>
                  <div class="fh5co-v-col-2 fh5co-text arrow-left">
                    <h2>Strawberry Martini</h2>
                    <span class="pricing">$19.00</span>
                    <p>Ketel one, strawberries, house basil syrup.</p>
                  </div>
                </div>
              </div>
              <div class="fh5co-v-half to-animate-2">
                <div
                  class="fh5co-v-col-2 fh5co-bg-img"
                  style="background-image: url(/static/images/beef-tartare.jpg)"
                ></div>
                <div
                  class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left"
                >
                  <h2>Smoked Beef Tartare</h2>
                  <span class="pricing">$24.95</span>
                  <p>
                    Truffle egg emulsion, coriander vinaigrette, manchego, yukon
                    gold potato chips.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        id="fh5co-type"
        style="background-image: url(/static/images/slide_3.jpg)"
        data-stellar-background-ratio="0.5"
      >
        <div class="fh5co-overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-3 to-animate">
              <div class="fh5co-type">
                <h3 class="with-icon icon-1">Fruits</h3>
                <p>
                  The fruits that we use are fully organic and farm grown. We
                  only use the freshest batch of fruits. We do not compromise on
                  the quality of our fruits.
                </p>
              </div>
            </div>
            <div class="col-md-3 to-animate">
              <div class="fh5co-type">
                <h3 class="with-icon icon-2">Sea food</h3>
                <p>
                  Sea foods are considered a delicacy all around the world. The
                  Sea foods that we prepare are very fresh and tasty.
                </p>
              </div>
            </div>
            <div class="col-md-3 to-animate">
              <div class="fh5co-type">
                <h3 class="with-icon icon-3">Vegetables</h3>
                <p>
                  The vegetables that we use are fully organic and farm grown.
                  We only use the freshest batch of vegetables. We do not
                  compromise on the quality of our vegetables.
                </p>
              </div>
            </div>
            <div class="col-md-3 to-animate">
              <div class="fh5co-type">
                <h3 class="with-icon icon-4">Meat</h3>
                <p>
                  Meat is the most consumed food in the whole world. The Meats
                  that we prepare are very fresh and tasty.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="fh5co-menus" data-section="menu">
        <div class="container">
          <div class="row text-center fh5co-heading row-padded">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="heading to-animate">Food Menu</h2>
            </div>
          </div>
          <div class="row row-padded">
            <div class="col-md-6">
              <div class="fh5co-food-menu to-animate-2">
                <h2 class="fh5co-drinks">Drinks</h2>
                <ul>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/strawberry-martini.jpg"
                          class="img-responsive"
                          alt="Strawberry Martini"
                        />
                      </figure>
                      <div>
                        <h3>Strawberry Martini</h3>
                        <p>Ketel one, strawberries, house basil syrup.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$19.00</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/old-fashioned.jpg"
                          class="img-responsive"
                          alt="Old Fashioned"
                        />
                      </figure>
                      <div>
                        <h3>Classic Old Fashioned</h3>
                        <p>Bourbon whiskey, simple syrup, bitters.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$19.00</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/manhattan.jpg"
                          class="img-responsive"
                          alt="Manhattan"
                        />
                      </figure>
                      <div>
                        <h3>Classic Manhattan</h3>
                        <p>Bourbon or rye, vermouth, bitters.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$19.00</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/chartreuse-martini.jpg"
                          class="img-responsive"
                          alt="Chartreuse Martini"
                        />
                      </figure>
                      <div>
                        <h3>Chartreuse Martini</h3>
                        <p>Chartreuse, dry vermouth, gin.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$19.00</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="fh5co-food-menu to-animate-2">
                <h2 class="fh5co-dishes">Appetizers</h2>
                <ul>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/beef-tartare.jpg"
                          class="img-responsive"
                          alt="Smoked Beef Tartare"
                        />
                      </figure>
                      <div>
                        <h3>Smoked Beef Tartare</h3>
                        <p>
                          Truffle egg emulsion, coriander vinaigrette, manchego,
                          yukon gold potato chips.
                        </p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$24.95</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/res_img_4.jpg"
                          class="img-responsive"
                          alt="Pork Belly"
                        />
                      </figure>
                      <div>
                        <h3>Pork Belly</h3>
                        <p>Coffee and lemongrass pork belly.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$21.95</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/caesar-salad.jpg"
                          class="img-responsive"
                          alt="Caesar Salad"
                        />
                      </figure>
                      <div>
                        <h3>Caesar Salad</h3>
                        <p>Parmesan cheese, garlic croutons, scotch egg.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$18.95</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/foie-gras-parfait.jpg"
                          class="img-responsive"
                          alt="Foie Gras Parfait"
                        />
                      </figure>
                      <div>
                        <h3>Foie Gras Parfait</h3>
                        <p>Foie gras, dried apricots, chamomile flowers.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$21.95</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="fh5co-food-menu to-animate-2">
                <h2 class="fh5co-drinks">Main courses</h2>
                <ul>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/beef-wellington.jpg"
                          class="img-responsive"
                          alt="Beef Wellington"
                        />
                      </figure>
                      <div>
                        <h3>Beef Wellington</h3>
                        <p>
                          Served medium rare & garnished with glazed root
                          vegetables, potato purée, red wine demi-glace.
                        </p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$59.95</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/japanese-wagyu.jpg"
                          class="img-responsive"
                          alt="Japanese Wagyu"
                        />
                      </figure>
                      <div>
                        <h3>Triple Seared Japanese A5</h3>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$40.95</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/tomahawk.jpg"
                          class="img-responsive"
                          alt="Tomahawk"
                        />
                      </figure>
                      <div>
                        <h3>38OZ Tomahawk</h3>
                        <p>Royal long-bone chop.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$125.95</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/prawn-cocktail.jpg"
                          class="img-responsive"
                          alt="Prawn Cocktail"
                        />
                      </figure>
                      <div>
                        <h3>Prawn Cocktail</h3>
                        <p>Prawn served with Marie Rose sauce.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$27.95</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="fh5co-food-menu to-animate-2">
                <h2 class="fh5co-dishes">Desserts</h2>
                <ul>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/shortbread.jpg"
                          class="img-responsive"
                          alt="Strawberry Scottish Shortbread"
                        />
                      </figure>
                      <div>
                        <h3>Strawberry Scottish Shortbread</h3>
                        <p>
                          Vanilla cream, Harry&rsquo;s berries, strawberry
                          sorbet.
                        </p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$14.95</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/strawberry-millefeuille.jpg"
                          class="img-responsive"
                          alt="Strawberry Millefeuille"
                        />
                      </figure>
                      <div>
                        <h3>Strawberry Millefeuille</h3>
                        <p>Strawberries, puff pastries, creme patisserie.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$14.95</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/chocolate-mousse.jpg"
                          class="img-responsive"
                          alt="Chocolate Mousse"
                        />
                      </figure>
                      <div>
                        <h3>Chocolate Mousse</h3>
                        <p>Bittersweet Chocolate Mousse.</p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$14.95</div>
                  </li>
                  <li>
                    <div class="fh5co-food-desc">
                      <figure>
                        <img
                          src="/static/images/creme -fraiche-panna-cotta.jpg"
                          class="img-responsive"
                          alt="Free HTML5 Templates by FREEHTML5.co"
                        />
                      </figure>
                      <div>
                        <h3>Crème fraîche panna cotta</h3>
                        <p>
                          Creme fraiche panna cotta with orange and mint sorbet.
                        </p>
                      </div>
                    </div>
                    <div class="fh5co-food-pricing">$14.95</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        id="fh5co-events"
        data-section="events"
        style="background-image: url(/static/images/slide_2.jpg)"
        data-stellar-background-ratio="0.5"
      >
        <div class="fh5co-overlay"></div>
        <div class="container">
          <div class="row text-center fh5co-heading row-padded">
            <div class="col-md-8 col-md-offset-2 to-animate">
              <h2 class="heading">Upcoming Events</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="fh5co-event to-animate-2">
                <h3>Music Concerts</h3>
                <span class="fh5co-event-meta">September 5th, 2022</span>
                <p>
                  The very famous and loved by all band ACDC are coming to
                  Petrus for their live performance. For further information
                  please contact us via phone or email.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fh5co-event to-animate-2">
                <h3>Music Concerts</h3>
                <span class="fh5co-event-meta">September 19th, 2022</span>
                <p>
                  The very famous and loved by all band RHCP are coming to
                  Petrus for their live performance. For further information
                  please contact us via phone or email.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fh5co-event to-animate-2">
                <h3>Free to Eat Party</h3>
                <span class="fh5co-event-meta">October 3rd, 2022</span>
                <p>
                  Petrus is organizing a Free to Eat party for the first 100
                  customers that enter our restaurant. For further information
                  please contact us via phone or email.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="fh5co-contact" data-section="reservation">
        <div class="container">
          <div class="row text-center fh5co-heading row-padded">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="heading to-animate">Reserve a Table</h2>
              <p class="sub-heading to-animate">
                Table bookings for 1-6 or 4-8 people. Please fill the form and
                we will contact you asap.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 to-animate-2">
              <h3>Contact Info</h3>
              <ul class="fh5co-contact-info">
                <li class="fh5co-contact-address">
                  <i class="icon-home"></i>
                  Thamel, Kathmandu
                </li>
                <li><i class="icon-phone"></i> (+977) 9812345687</li>
                <li><i class="icon-envelope"></i>rockemu77@gmail.com</li>
                <li>
                  <i class="icon-globe"></i>
                  <a href="https://www.instagram.com/hoaxn_/" target="_blank"
                    >Social</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-6 to-animate-2">
              <h3>Reservation Form</h3>
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  <input
                    id="name"
                    class="form-control"
                    placeholder="Name"
                    type="text"
                    name="name"
                  />
                </div>
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input
                    id="email"
                    class="form-control"
                    placeholder="Email"
                    type="email"
                    name="email"
                  />
                </div>
                <div class="form-group">
                  <label for="occasion" class="sr-only">Occasion</label>
                  <select class="form-control" id="occasion">
                    <option>Select an Occasion</option>
                    <option>Wedding Ceremony</option>
                    <option>Birthday</option>
                    <option>Others</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="date" class="sr-only">Date</label>
                  <input
                    id="date"
                    class="form-control"
                    placeholder="Date &amp; Time"
                    type="text"
                    name="date"
                  />
                </div>
                <div class="form-group">
                  <label for="message" class="sr-only">Message</label>
                  <textarea
                    name=""
                    id="message"
                    cols="30"
                    rows="5"
                    class="form-control"
                    placeholder="Message"
                    name="message"
                  ></textarea>
                </div>
                <div class="form-group">
                  <input
                    class="btn btn-primary"
                    value="Send Message"
                    type="submit"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-footer">
      <div class="container">
        <div class="row row-padded">
          <div class="col-md-12 text-center">
            <p class="to-animate">
              &copy; 2022 Petrus. All rights reserved.
              <br />
              Project by
              <a href="https://www.instagram.com/hoaxn_/" target="_blank"
                >Hoaxn</a
              >
            </p>
            <p class="text-center to-animate">
              <a href="#" class="js-gotop">Go To Top</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <ul class="fh5co-social">
              <li class="to-animate-2">
                <a href="https://www.facebook.com/Hoaxnn/" target="_blank"
                  ><i class="icon-facebook"></i
                ></a>
              </li>
              <li class="to-animate-2">
                <a href="https://twitter.com/Hoaxnn" target="_blank"
                  ><i class="icon-twitter"></i
                ></a>
              </li>
              <li class="to-animate-2">
                <a href="https://www.instagram.com/hoaxn_/" target="_blank"
                  ><i class="icon-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Bootstrap DateTimePicker -->
    <script src="/static/js/moment.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="/static/js/jquery.stellar.min.js"></script>
    <!-- Flexslider -->
    <script src="/static/js/jquery.flexslider-min.js"></script>

    <script>
      $(function () {
        $("#date").datetimepicker();
      });
    </script>
    <!-- Main JS -->
    <script src="/static/js/main.js"></script>
  </body>
</html>
